
services:
  app:
    working_dir: /app
    ports:
      - "8080:8080"
    volumes:
      - ./app:/app
    command: make dev
  caddy:
    image: caddy:2
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./services/caddy/Caddyfile:/etc/caddy/Caddyfile:ro"